@font-face {
  font-family: 'GenRyuMin2';
  src: url('/src/assets/fonts/TW/GenRyuMin2TW-EL.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'GenRyuMin2';
  src: url('/src/assets/fonts/TW/GenRyuMin2TW-L.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GenRyuMin2';
  src: url('/src/assets/fonts/TW/GenRyuMin2TW-R.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GenRyuMin2';
  src: url('/src/assets/fonts/TW/GenRyuMin2TW-M.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GenRyuMin2';
  src: url('/src/assets/fonts/TW/GenRyuMin2TW-SB.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'GenRyuMin2';
  src: url('/src/assets/fonts/TW/GenRyuMin2TW-B.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GenRyuMin2';
  src: url('/src/assets/fonts/TW/GenRyuMin2TW-H.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
