
.extra-light-text {
  font-weight: 200;
}

.light-text {
  font-weight: 300;
}

.medium-text {
  font-weight: 500;
}

.semibold-text {
  font-weight: 600;
}

.bold-text {
  font-weight: 700;
}

.heavy-text {
  font-weight: 800;
}
