$sidebar-width: 196px;
$header-height: 74.75px;

.sidebar-custom {
  min-width: $sidebar-width;
  margin-left: -$sidebar-width;
  transition: margin-left 0.25s;
  min-height: 100vh;
  height: auto;

  .scale-btn {
    padding: 8px;
  }

  &.open {
    margin-left: 0;
  }

  .sidebar-detail-custom {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 16px 24px 16px;
    gap: 24px;

    .span-custom {
      padding-left: 8px;
    }

    .menu-custom {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 8px;

      &-detail {
        display: block;
        padding: 12px 16px;
        text-decoration: none;
        color: $coffee-primary-300;

        &:hover {
          color: $coffee-light;
          background-color: rgba($coffee-deep, 0.3);
        }

        &.active {
          color: white;
          background-color: rgba($coffee-deep, 0.5);
        }
      }
    }
  }

  .sidebar-logo {
    .logo-icon {
      width: 27.73px;
      height: auto;
    }

    .logo-text {
      font-size: 2.4rem;
      @extend .semibold-text;
      padding-left: 8px;
    }
  }

  .sidebar-logout {
    color: $coffee-primary-000;
    background-color: $coffee-primary-700;
    padding: 8px 16px;
    width: 100%;

    &:hover {
      background-color: $coffee-primary-300;
    }

    &:active {
      background-color: $coffee-primary-800;
      color: $coffee-primary-000;
    }
  }
}

.member-navbar {
  z-index: 1000;
}

.member-mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.member-mobile-menu {
  position: fixed;
  top: $header-height;
  right: 0;
  width: 50%;
  z-index: 999;
  font-size: 1.6rem;
  background: white;
  height: calc(100% - #{$header-height});
  padding: 8px;
  gap: 8px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
  overflow-y: auto;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 1rem;
      a,
      button {
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $coffee-primary-600;
        background-color: $coffee-grey-000;
        height: auto;
        max-height: none;
        width: 100%;
        padding: 8px;
        text-align: left;
        margin-top: 8px;
        outline: none;
        border: none;

        &:focus {
          outline: none;
          box-shadow: none;
        }

        &:hover {
          background-color: $coffee-primary-300;
          color: $coffee-primary-700;
        }

        &:active {
          background-color: $coffee-primary-800;
          color: $coffee-primary-000;
        }
      }
    }
  }
}


.sidebar-style {

  .member-main {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $coffee-bg-light;
  }
  .main-content {
    width: 100%;
    max-width: 1200px;
  }

}

// 控制 body 出現 sidebar-toggle 時
sidebar-toggle {
  .sidebar {
    margin-left: 0;
  }
}

// 桌面版開合
@include media-breakpoint-up(md) {
  .sidebar-custom {
    margin-left: 0;
    width: $sidebar-width;
  }

  .member-main {
    width: calc(100vw - #{$sidebar-width});
  }

  .sidebar-toggle {
    .sidebar {
      margin-left: -$sidebar-width;
    }

    .member-main {
      width: 100%;
      margin-left: 0;
    }
  }
}
